body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  padding: 0;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 300px;
}

ul {
  margin: 16px 0 0 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li a {
  font-size: 24px;
  text-decoration: none;
  color: #eee;
}

ul li {
  list-style: none;
}

.card-container .card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 250px;
  width: 400px;
  margin: 30px;
  padding: 20px;
}

.contents {
  display: flex;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

