body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 20px;
}

.title,
.content,
.button-container{
  background: #e3f4ff;
  margin: 10px;
  padding: 20px;
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 50px;
  display: block;
  margin: auto;
}